
/* about common css */
#about .page_tab .wrap {
  max-width: 1200px;
  margin: 0 auto; 
}
#about .page_tab .wrap .page_list {
  width: 50%;
  margin: 0 auto;
}
#about .page_tab .wrap .page_list .list {
  padding: 20px 0;
  width: 50%;
  text-align: center;
  border-top: 1px solid #ececec;
  border-bottom: 1px solid #ececec;
}
#about .page_tab .wrap .page_list .list.active {
  background-color: #fbfbfb; 
}
#about .page_tab .wrap .page_list .list.active a{
  display: block;
  width: 100%;
  height: 100%;
  color: #003da5;
}
#about .section .section_title {
  padding: 50px 0;
  font-size: 35.5px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.39;
  letter-spacing: -1.4px;
  text-align: center;
  color: #333333;
}

/* about1 page css */
.about1 {
  padding-top: 140px;
}

.about1 .section .hero {
  max-width: 1200px;
  margin: 0 auto;
}

.about1 .section .hero img {
  width: 100%;
}
.about1 .section .sub_section .flex_cont {
  max-width: 1200px;
  margin: 0 auto;
}
.about1 .section .sub_section .flex_cont .cont {
  width: 50%;
}
.about1 .section .flex_cont .cont.txt {
  font-family: "SourceHanSansK";
  font-size: 19px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: left;
  color: #616161;
}

/* sec1 */

.section.first .sub_section.first .flex_cont .cont.txt {
  padding: 15% 0 0 10%;
}
.section.first .sub_section.first .flex_cont .cont.img {
  text-align: center;
  padding: 100px 0 0;
}
.section.first .sub_section.first .flex_cont .cont.img img {
  width: 76%;
  margin-bottom: -140px;
  margin-right: 20px;
}
.section.first .sub_section.first .bg_wrap {
  background-color: #f0f4fa;
  padding-bottom: 30%;
}

/* sec2 */
.about1 .section.second {
  padding: 0 0 120px;
}
#about .section.second .section_title {
  position: relative;
  padding: 80px 0 50px;
}
.section.second .section_title::before {
  position: absolute;
  top: -35%;
  content: '';
  display: inline-block;
  width: 1px;
  height: 130px;
  background: #282828;
}
.section.second .section_title strong {
  display: block;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #333333;
}
.section.second .sub_section.first .flex_cont .cont.txt, 
.section.second .sub_section.third .flex_cont .cont.txt {
  padding: 9% 0 0 5%;
}
.section.second .sub_section.second .flex_cont .cont.txt {
  padding: 5% 0 12% 6%;
}
.section.second .sub_section.fourth .flex_cont .cont.txt {
  padding: 15% 0 0 6%;
}
.section.second .sub_section.fourth .flex_cont .cont.txt  strong {
  font-size: 30px;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.89;
  letter-spacing: normal;
  text-align: left;
  color: #646464;
}
.section.second .sub_section.fourth .flex_cont .cont.txt  img {
  max-width: 45px;
  margin: 15px 0;
}
.section.second .sub_section.first .flex_cont .cont.img img {
  width: 76%;
  margin-left: 50px;
}
.section.second .sub_section.second .flex_cont .cont.img img {
  width: 83%;
  margin-top: -85px;
}
.section.second .sub_section.third .flex_cont .cont.img img {
  width: 85%;
}
.section.second .sub_section.fourth .flex_cont .cont.img img {
  width: 73%;
}

/* about2 */
.about2 {
  padding-top: 140px;
}

.about2 .section .sub_section_title {
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.34;
  letter-spacing: -0.8px;
  text-align: center;
  color: #646464;
}
.about2 .section .video_wrap {
  padding: 57px 0 97px;
}
.about2 .section .video_wrap .img_box {
  text-align: center;
}
.about2 .section .video_wrap .img_box a img {
  max-width: 900px;
  width: 100%;
}
