@font-face {
  font-family: "MontserratB";
  src: 
      local(Montserrat-bold),
      url(../font/Montserrat-Bold.ttf) format('truetype');
}
@font-face {
  font-family: "MontserratR";
  src: 
      local(Montserrat-Regular),
      url(../font/Montserrat-Regular.ttf) format('truetype');
}

* {
  font-family: 'Noto Sans KR','Noto Sans',sans-serif;
}