/* header */

#header {
  position: fixed;
  top: 0;
  left:0;
  right: 0;
  z-index: 99999;
  border-bottom: 1px solid rgba(0,0,0,0.2);
}
#header .wrap {
  max-width: 1200px;
  margin: 0 auto;
}

#header .wrap .gnb {
  padding: 12px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/* header - logo */
.gnb .logo {width: 15%;}
.gnb .logo a {display: block;}
.gnb .logo a img {max-width: 100px; vertical-align: 7px;}

/* header - navigaion */
.gnb .navigation {width: 45%; margin: 0 12.5%; display: flex; flex-direction: row; flex-wrap: wrap;}
.gnb .navigation .links {width: 33.3333333%; text-align: center; text-transform: capitalize;}
.gnb .navigation .links a {vertical-align: -12px;}

/* header - shop link */
.gnb .shop_link {width: 15%; text-align: right; text-transform: capitalize;}
.gnb .shop_link a {vertical-align: -12px;}


/* main page */

/* main page - visual */
.main .visual {
  position: relative;
  height: 100vh;
  background: url(../images/main/main_visual.png) center no-repeat;
  background-size: cover;
}

.main .visual .text_box {
  position: absolute;
  top: 40%;
  left: 50%;
  text-align: center;
  transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
}

.main .visual .text_box img {
  margin: 20px 10px;
}

#scrollDown {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%,0);
  -webkit-transform: translate(-50%,0);
  -moz-transform: translate(-50%,0);
  -ms-transform: translate(-50%,0);
  -o-transform: translate(-50%,0);
}




